/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  background-color: var(--background-color);
}

.header {
  display: grid;

  background-image: var(--header-background-image);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
}

.decorated-zone {
  /* background-image: var(--header-background-image); */
  /* background-position: center;
  background-size: cover; */
}

.header__theme-menu {
  width: fit-content;
  height: fit-content;

  justify-self: end;

  margin-top: 75px;
  margin-right: 10px;
}

.header__theme-menu-item:not(:first-child) {
  margin-top: 10px;
}

.header__theme-menu-button {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  box-sizing: border-box;
  width: 70px;
  height: 26px;
  cursor: pointer;
  color: var(--accent-color);
  border: 0px solid var(--accent-color);
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 116px;
  line-height: 82.5%;

  color: var(--title-color);

  text-shadow: 4px 4px 0px var(--accent-color);

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 65px;
}

.header__description {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 55px;
  margin-bottom: 66px;

  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  color: #000028;
  background-color: var(--accent-color);
}
