.page {
    background: var(--background-image) no-repeat, var(--background-color);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    color: var(--main-text-color);
}

.header {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    height: 100vh;
    min-height: 668px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

@media (width < 768px) {
    .header {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.header__mark {
    position: absolute;
    top: 21px;
    right: 49px;
    color: var(--mark-color);
    text-transform: uppercase;
}

@media (width < 768px) {
    .header__mark {
        top: 11px;
        right: 39px;
    }
}

.header__mark::after {
    box-shadow: 0 0 4px 2px var(--mark-color);
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-right: -20px;
    background-color: var(--mark-color);
    border-radius: 50%;
}

.decorated-zone::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--corners-color);
    border-left: 1px solid var(--corners-color);
}

@media (width < 768px) {
    .decorated-zone::before {
        bottom: 17px;
        left: 10px;
    }
}

.decorated-zone::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--corners-color);
    border-right: 1px solid var(--corners-color);
}

@media (width < 768px) {
    .decorated-zone::after {
        top: 10px;
        right: 10px;
    }
}

.header__theme-menu {
    margin-top: 20px;
    height: fit-content;
    width: fit-content;
    justify-self: center;
    align-self: start;
}

.header__theme-menu-list {
    display: flex;
    justify-content: center;
    gap: 12px;
}

@media (width < 1024px) {
    .header__theme-menu-list {
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (width >= 375px) and (width < 768px) {
    .header__theme-menu-list {
        gap: 11px;
    }
}

.header__theme-menu-button {
    padding-top: 2.5px;
    padding-right: 12px;
    padding-bottom: 2.5px;
    padding-left: 12px;
    background: none;
    cursor: pointer;
    border: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: var(--corners-color);
}

.header__theme-menu-button:hover {
    border: var(--hover-color);
}

.header__theme-menu-button:focus {
    border: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid;
}

@media (width < 1024px) {
    .header__theme-menu {
        /* padding-top: 190px; */
        align-self: center;
        justify-self: end;
    }
}

@media (width < 768px) {
    .header__theme-menu {
        /* padding-top: 75px; */
        align-self: center;
        justify-self: end;
    }
}

.header__title {
    margin-left: -2%;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-weight: 700;
    color: var(--title-color);
    text-shadow: 4px 4px 0px var(--title-shadow-color);
    height: fit-content;
    width: fit-content;
    justify-self: start;
    align-self: center;
}

@media (width >= 375px) and (width < 1024px) {
    .header__title {
        text-shadow: 4px 4px 0px var(--title-decor-color);
    }
}

@media (width < 1024px) {
    .header__title {
        margin-left: -3%;
    }
}

@media (width < 768px) {
    .header__title {
        margin-left: 0;
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        line-height: 82.5%;
    }
}

.header__subtitle {
    align-self: start;
    justify-self: end;
    width: 50%;
    font-weight: 700;
    color: var(--article-title-color);
    margin-top: 40px;
}

@media (width < 425px) {
    .header__subtitle {
        width: 100%;
    }
}

.title-decor {
    background: var(--title-decor-color);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    flex: 1 1 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
}

@media (width < 768px) and (width >= 375px) {
    .main {
        gap: 50px;
        margin-top: 34px;
        margin-bottom: 34px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.section {
    line-height: 130%;
}

.section__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    color: var(--section-title-color);
}

.dark-title {
    color: var(--article-title-color);
}

@media (width >= 768px) and (width < 1024px) {
    .section__title {
        width: 35%;
    }
}

@media (width >= 375px) and (width < 768px) {
    .section__title {
        width: 100%;
        margin-bottom: 20px;
    }
}

.section__article-list {
    display: flex;
    flex-wrap: wrap;
}

.section__article-list-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--article-title-color);
}

.section__article-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section__article-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--article-title-color);
}

.section__article-title_regular {
    font-weight: 400;
}

.section__article-text-link {
    border: transparent;
    text-shadow: 3px 3px 0px var(--link-shadow-color);
}

.section__article-text-link:hover {
    border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
    outline: none;
}

.section__article-text-link:focus-visible {
    outline: 1px solid var(--main-text-color);
}

.section:first-of-type,
.section:nth-of-type(3) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section:first-of-type .section__title,
.section:nth-of-type(3) .section__title {
    flex: 0 0 auto;
    width: 33%;
}

@media (width >= 768px) and (width < 1024px) {
    .section:first-of-type .section__title,
    .section:nth-of-type(3) .section__title {
          width: 32%;
    }
}

@media (width >= 375px) and (width < 768px) {
    .section:first-of-type .section__title,
    .section:nth-of-type(3) .section__title {
        width: 100%;
        margin-bottom: 20px;
    }
}

.section:first-of-type .section__article-list,
.section:nth-of-type(3) .section__article-list {
    flex-direction: column;
    gap: 20px;
    flex: 0 0 auto;
    width: 66%;
}

@media (width >= 768px) and (width < 1024px) {
    .section:first-of-type .section__article-list,
    .section:nth-of-type(3) .section__article-list {
        width: 65%;
    }
}

@media (width >= 375px) and (width < 768px) {
    .section:first-of-type .section__article-list,
    .section:nth-of-type(3) .section__article-list {
        width: 100%;
    }
}

.section:nth-of-type(2) .section__title {
    width: 30%;
}

@media (width >= 375px) and (width < 768px) {
    .section:nth-of-type(2) .section__title {
        width: 100%;
    }
}

@media (width >= 1024px) {
    .section:nth-of-type(2) .section__article-list {
        justify-content: space-between;
    }
}

@media (width >= 375px) and (width < 1024px) {
    .section:nth-of-type(2) .section__article-list {
        gap: 20px;
    }
}

.section:nth-of-type(2) .section__article-item {
    flex: 0 0 auto;
    width: 32%;
}

@media (width >= 375px) and (width < 1024px) {
    .section:nth-of-type(2) .section__article-item {
        flex: 1 0 auto;
        width: 100%;
    }
}

.section:last-of-type {
    display: grid;
}

.section:last-of-type .section__title {
    grid-column: 1/-1;
    width: 100%;
    margin: 0;
}

@media (width >= 768px) {
    .section:last-of-type .section__image {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .section:last-of-type .section__image:first-of-type,
    .section:last-of-type .section__image:last-of-type {
        grid-column: span 2;
    }

    .section:last-of-type .section__image:nth-of-type(2),
    .section:last-of-type .section__image:nth-of-type(3) {
        grid-row: span 2;
    }
}

@media (width < 768px) {
    .section:last-of-type .section__image {
        width: 100%;
        height: auto;
    }

    .section:last-of-type .section__image-container {
        width: 100px;
    }
}

@media (width >= 768px) {
    .section:last-of-type {
        gap: 20px 19px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width < 768px) {
    .section:last-of-type {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.footer {
    height: 100vh;
    min-height: 668px;
    display: grid;
    position: relative;
    text-align: center;
}


@media (width < 768px) {
    .footer {
        margin-top: 40px;
    }
}

.footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-weight: 700;
    color: var(--title-color);
    text-shadow: 2px 2px 0px var(--title-shadow-color);
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
}

@media (width < 1024px) {
    .footer__title {
        text-shadow: 2px 2px 0px var(--title-decor-color);
    }
}

@media (width < 768px) {
    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
}
